<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= title %> </title>
</head>
<body>
  <% if (userFullName) { %>
    <h2>Hello <%= userFullName %></h2>
    <a href="/signout">Sign Out</a>
  <% } else { %>
    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign In</a>
    <a href="/oauth/facebook">Sign in with Facebook</a>
  <% } %>
  <br>
  <img src="img/apple.jpg" alt="Apple">
</body>
</html>